@use 'vars';

.header-btn{
    background-color: vars.$primary-color;
    border: 1px solid white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    height: 30px;
}

.header-input{
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 28px;
    outline: none;
}

@media(max-width:426px){
    #header{
        h1{
            font-size: 26px;
        }
    }
    .header-form{
        margin-left: 5px;
    }
}

@media(max-width:376px){
    #header{
        h1{
            font-size: 20px;
        }
    }

    .header-input{
        width: 150px;
    }
}

@media(max-width:321px){

    .header-input{
        width: 125px;
    }
}

